<div class="outer">
  <div class="logo"></div>
  <h1 class="title">Recent Plays</h1>
  <div class="subtitle">Click to expand</div>
  <div class="show-header selected">
    <span class="name">Player</span>
    <span class="badge">Detail</span>
    <span class="score">Score</span>
  </div>
  <div class="leaderboard">
   <div class="show selected">
    <span class="name">Gaurav Tiwari</span>
    <span class="badge" id="reviews_count"> vs </span>
    <span class="score" id="score">Parul Singh</span>
    <p class="description">Gaurav defeated Parul</p>
   </div>
  </div>
</div>