.auto-margin {
  margin: 0 auto;
}
.no-style {
  list-style-type: none;
}
.full-width {
  width: 100%;
  min-width: 100%;
}
.m-t-20 {
  margin-top: 20px;
}
.m-b-20 {
  margin-top: 20px;
  display: block;
}
.m-t-50 {
  margin-top: 50px;
}
.clearfix {
  clear: both;
  display: block;
}
.no-padding {
  padding: 0;
}